// Typography Mixin
@mixin typography($font-family-primary, $size, $weight, $line-height, $letter-spacing) {
  font-family: $font-family-primary;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}  
// Typography Mixin
@mixin typography($font-family-secondary, $size, $weight, $line-height, $letter-spacing) {
  font-family: $font-family-primary;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}  